@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    html {
        background: url(../../images/black-frame.jpg);
        background-repeat: repeat;
        background-size: cover;
        @apply font-ubuntu;
    }
}
