node_modules

client/build
client/node_modules

client/src/components/App-copy.jsx
client/src/components/Card-copy.js

client/README_C.md

server-copy.js

.cache/
dist/
.env
.DS_Store
coverage/
.vscode/